@import "~taro-ui/dist/style/index.scss";

$searchBarColor:#b3b1b1;

.Index {
  flex-direction: column;
  width: 100%;
}

// Header 搜索栏样式
.head .at-row{
  background-color: $searchBarColor;
  border: $searchBarColor;
  color: #000000;
  font-weight: bold;
  width: 96%;
  margin: 0 auto;
  border-radius: 50px;
  justify-content: flex-end;
  font-size: 14px;
  padding: 2px;
  text-align: center;
  height: 100%;
  border: 1px solid #ffffff;

}

// Header 筛选器按钮样式
.head .at-row .at-col {
  background-color: $searchBarColor; // 背景颜色
  border: $searchBarColor; // 边框颜色
  color: #000000; // 字体颜色
  font-weight: bold; // 字体粗细
}

// 设置盒模型
.header, .body, .footer{
  box-sizing: border-box;
}

// Body 样式
.body .at-col  {
  background-color: #ffffff; // 背景颜色
  border-bottom: 10px; // 底部边框
  color: #000000; // 字体颜色
  font-weight: lighter; // 字体粗细
  width: 100%; // 宽度
  height: 100%; // 高度
  margin: 10px auto; // 外边距
  border-radius: 50px; // 圆角
  justify-content: flex-end; // 主轴对齐方式
  font-size: 14px; // 字体大小
}




